VITE_DATA_MODE=supabase
VITE_SUPABASE_URL=https://oxpvsblgjrvfbrbaluxp.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_JXTE_bZBZeKMuSxw0uUxFA_5Kvvptit
VITE_API_BASE_URL=http://127.0.0.1:8000
